body {
  font-family: "Montserrat", sans-serif;
  background-color: #e6e6e6;
}

h1 {
  padding: 0px;
  margin: 0em 0em 1em 0em;
}

h2 {
  padding: 0px;
  margin: 0em 0em 0.5em 0em;
}

.content {
  padding: 6em;

}

.flc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  padding: 1rem;
}

.text {
  padding: 1rem;
  width: 50%;
  flex-grow: 2;
}

.important {
  color: #cc0000;
  /* color: #ffffff; */
}

.impressum {
  font-size: 0.7em;
  text-align: left;
}

table td, table td * {
  vertical-align: top;
}

@media only screen and (max-width: 1700px) {
  .flc {
    flex-direction: column-reverse;
  }
  .text {
    width: 95%;
  }
}

@media only screen and (max-width: 900px) {
  .flc {
    padding: 1em;
  }
  .image,
  img {
    width: 100%;
    height: auto;
    padding: 0 0 1 1rem;
  }
}
